<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDpBdl0fF8LztXpXdbzc7q1mS3q2ZybDT4</string>
	<key>GCM_SENDER_ID</key>
	<string>817480840922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bookgolas.app</string>
	<key>PROJECT_ID</key>
	<string>book-golas</string>
	<key>STORAGE_BUCKET</key>
	<string>book-golas.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817480840922:ios:a6d9bcdceddd457773d7e3</string>
</dict>
</plist>